<div class="container">

    <!-- {{ menu | json }} -->

    <div class="head">
        <div>Date Picker</div>
    </div>


    <div class="content">

        <div class="section">
            <div class="title">Entrada</div>
        </div>

        <div class="section">
            <div class="title">Prato I</div>
        </div>

        <div class="section">
            <div class="title">Prato II</div>
        </div>

        <div class="section">
            <div class="title">Vegetariano</div>
        </div>

        <div class="section">
            <div class="title">Opção</div>
        </div>

        <div class="section">
            <div class="title">Sobremesa I</div>
        </div>

        <div class="section">
            <div class="title">Grill</div>
        </div>

        <div class="section">
            <div class="title">Gourmet</div>
        </div>

        <div class="section">
            <div class="title">Sobremesa II</div>
        </div>

        <div class="section">
            <div class="title">Sobremesa III</div>
        </div>


    </div>


</div>