<div class="container">

    <!-- {{ menu | json }} -->

    <div class="head">
        <div>Date Picker</div>
    </div>


    <div class="content">

        <!-- <ng-container *ngFor="let c of sections">
            <app-section [section]="c"></app-section>
        </ng-container> -->

        <div class="section">
            <div class="title">Entrada</div>
            <ng-container *ngFor="let m of response.menu?.entrance">
                <div> {{m}}  </div>
            </ng-container>
        </div>

        <div class="section">
            <div class="title">Prato I</div>
            <ng-container *ngFor="let m of response.menu?.plate1">
                <div> {{m}}  </div>
            </ng-container>
        </div>

        <div class="section">
            <div class="title">Prato II</div>
            <ng-container *ngFor="let m of response.menu?.plate2">
                <div> {{m}}  </div>
            </ng-container>
        </div>

        <div class="section">
            <div class="title">Vegetariano</div>
            <ng-container *ngFor="let m of response.menu?.vegetarian">
                <div> {{m}}  </div>
            </ng-container>
        </div>

        <div class="section">
            <div class="title">Opção</div>
            <ng-container *ngFor="let m of response.menu?.option">
                <div> {{m}}  </div>
            </ng-container>
        </div>

        <div class="section">
            <div class="title">Sobremesa I</div>
            <ng-container *ngFor="let m of response.menu?.dessert1">
                <div> {{m}}  </div>
            </ng-container>
        </div>

        <div class="section">
            <div class="title">Grill</div>
            <ng-container *ngFor="let m of response.menu?.grill">
                <div> {{m}}  </div>
            </ng-container>
        </div>

        <div class="section">
            <div class="title">Gourmet</div>
            <ng-container *ngFor="let m of response.menu?.gourmet">
                <div> {{m}}  </div>
            </ng-container>
        </div>

        <div class="section">
            <div class="title">Sobremesa II</div>
            <ng-container *ngFor="let m of response.menu?.dessert2">
                <div> {{m}}  </div>
            </ng-container>
        </div>

        <div class="section">
            <div class="title">Sobremesa III</div>
            <ng-container *ngFor="let m of response.menu?.dessert3">
                <div> {{m}}  </div>
            </ng-container>
        </div>


    </div>


</div>